.wp-block-columns.is-style-col-gap .wp-block-column {
  padding-left: var(--wp--custom--spacing--sl) !important;
  padding-right: var(--wp--custom--spacing--sl) !important;
}

@media (min-width: 782px) {
  .wp-block-columns.is-style-col-gap-desktop .wp-block-column {
    padding-left: var(--wp--custom--spacing--sl) !important;
    padding-right: var(--wp--custom--spacing--sl) !important;
  }
}

@media (max-width: 781px) {
  .wp-block-columns.is-style-col-gap-mobile .wp-block-column {
    padding-left: var(--wp--custom--spacing--sl) !important;
    padding-right: var(--wp--custom--spacing--sl) !important;
  }
}

.wp-block-quote {
  box-shadow: 8px 8px var(--wp--preset--color--main-contrast) !important;
}

.wp-block-quote > cite {
  font-size: 1em !important;
}
