@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Italic";
  src: local("Montserrat Italic"),
    url("../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}
