.site-footer .wpml-ls .wpml-ls-item br {
  display: none;
}

.site-footer .wpml-ls .wpml-ls-item .wpml-ls-link {
  padding-left: 0;
}

footer .wpcf7-form-control-wrap:first-child input {
  padding-top: 0px;
}

@media (max-width: 780px) {
  footer .wp-block-columns.is-layout-flex {
    flex-direction: column-reverse;
  }
}

footer .wp-block-columns.is-layout-flex .wp-block-column p.has-link-color {
  margin-bottom: var(--wp--custom--spacing--sxxs);
}

#somit-policy-nav {
  display: flex;
}

#somit-policy-nav li:not(:last-child) {
  margin-right: 1.5em;
}

#somit-policy-nav li {
  position: relative;
}

#somit-policy-nav li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  right: -0.75em;
  top: 3px;
  background-color: white;
  transform: rotate(20deg);
  opacity: 0.8;
}

#somit-policy-nav li:last-child::after {
  content: unset;
}

.site-footer .wpcf7 form {
  position: relative;
}

.site-footer .wpcf7 form.sent .wpcf7-response-output {
  background-color: var(--wp--preset--color--secondary);
  text-align: center;
  font-weight: bold;
  padding: 0.5em 2em;
  box-shadow: 7px 7px #fff;
  border: 1px solid white;
  margin-top: 0;
  position: absolute;
  bottom: -2em;
  left: 0;
  margin: auto;
  right: 0;
}
