input:not([type="submit"]).wpcf7-form-control,
textarea.wpcf7-form-control {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: var(--wp--preset--font-size--regular);
  padding-top: var(--wp--custom--spacing--sl);
  padding-bottom: var(--wp--custom--spacing--sm);
}

.wpcf7-form-control::placeholder {
  color: white;
  font-size: var(--wp--preset--font-size--regular);
}

input[type="submit"].wpcf7-form-control {
  width: 100%;
  background-color: var(--wp--preset--color--brand);
}

.wpcf7-acceptance {
  display: block;
  margin-top: 1rem;
}

.wpcf7-acceptance .acceptance-info {
  margin-top: 1rem;
  font-size: 0.8em;
  opacity: 0.5;
  line-height: 1.4;
  display: block;
}
