.site-header.wp-block-template-part {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100000;
}

body.admin-bar .site-header {
  top: 32px;
}

@media (max-width: 600px) {
  #wpcom-launch-banner-wrapper {
    display: none;
  }

  body.admin-bar .site-header {
    top: 0px;
  }
}

.site-header.drop-shadow {
  box-shadow: 0px 0px 5px #0008;
}

.site-header .wp-block-group.is-layout-constrained > .wp-block-group {
  max-width: var(--wp--style--global--content-size);
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.site-header .wpml-ls {
  display: flex;
  text-transform: capitalize;
}

.site-header .wpml-ls .wpml-ls-item {
  font-weight: var(--wp--custom--font-weight--medium);
  padding: 0 0.6em;
  position: relative;
}

.site-header .wpml-ls .wpml-ls-item br {
  display: none;
}

.site-header .wpml-ls .wpml-ls-item .wpml-ls-link {
  padding: 3px 0 4px;
}

.site-header .wpml-ls .wpml-ls-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 72%;
  right: -1px;
  top: 3px;
  background-color: var(--wp--preset--color--typography);
  transform: rotate(20deg);
  opacity: 0.8;
}

.site-header .wpml-ls .wpml-ls-item:last-child::after {
  content: unset;
}

.site-header
  .wp-container-core-navigation-layout-2.wp-container-core-navigation-layout-2 {
  margin-top: var(--wp--custom--spacing--sl) !important;
  margin-bottom: var(--wp--custom--spacing--sl) !important;
}

.site-header .wp-block-navigation .wp-block-navigation-item {
  padding: var(--wp--custom--spacing--sm);
}

.site-header .wp-block-navigation .wp-block-navigation-item.current {
  background-color: var(--wp--preset--color--main);
  color: var(--wp--preset--color--base);
}

.site-header
  .wp-block-navigation:not(.has-background)
  .wp-block-navigation__submenu-container.wp-block-navigation-submenu {
  padding: 0;
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--base);
}

.site-header .wp-block-navigation .wp-block-navigation-item:last-child {
  padding-right: var(--wp--custom--spacing--sm);
}

.site-header
  .wp-block-navigation
  .wp-block-navigation-item.has-child
  .wp-block-navigation-submenu {
  box-shadow: 1px 4px 6px #0003;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation {
  text-align: center;
  width: 100%;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation
  .wp-block-navigation-item {
  width: 100%;
  border-bottom: 1px solid;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation
  .wp-block-navigation-item:nth-child(n + 6) {
  border-bottom: none;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation
  .wp-block-navigation-item
  a {
  width: 100%;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation
  .wp-block-navigation-item.has-child {
  padding: 0;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation
  .wp-block-navigation-item.has-child
  .wp-block-navigation-submenu {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: none;
  margin: 0 -20%;
  width: 140%;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation
  .wp-block-navigation-item.has-child
  > .wp-block-navigation-item__content {
  display: none;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation
  .wp-block-navigation-item.has-child
  .wp-block-navigation-submenu
  .wp-block-navigation-item {
  border-bottom: none;
  width: fit-content;
}

.site-header
  .wp-block-navigation__responsive-container.is-menu-open
  .wp-block-navigation__responsive-container-content
  .wp-block-navigation
  > .wp-block-navigation-item:last-child {
  background-color: var(--wp--preset--color--main) !important;
  color: var(--wp--preset--color--base) !important;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
