@import "header.css";
@import "footer.css";
@import "form.css";
@import "blocks.css";
@import "responsive.css";
@import "fonts.css";
@import "elements.css";

@tailwind components;
@tailwind utilities;

.wp-site-blocks .wp-block-quote.is-style-plain {
  box-shadow: unset !important;
}

.wp-block-quote.is-style-default {
  border-color: var(--wp--preset--color--main-contrast);
}

.wp-block-quote.is-style-primary {
  border-color: var(--wp--preset--color--primary);
  box-shadow: 8px 8px var(--wp--preset--color--primary) !important;
}

.wp-block-quote.is-style-secondary {
  border-color: var(--wp--preset--color--secondary);
  box-shadow: 8px 8px var(--wp--preset--color--secondary) !important;
}

.wp-block-quote.is-style-tertiary {
  border-color: var(--wp--preset--color--tertiary);
  box-shadow: 8px 8px var(--wp--preset--color--tertiary) !important;
}

.wp-block-quote.is-style-ce {
  border-color: var(--wp--preset--color--som-comunitats);
  box-shadow: 8px 8px var(--wp--preset--color--som-comunitats) !important;
}

.wp-block-quote.is-style-sm {
  border-color: var(--wp--preset--color--moves);
  box-shadow: 8px 8px var(--wp--preset--color--moves) !important;
}

.wp-block-quote.is-style-sc {
  border-color: var(--wp--preset--color--som-connexio);
  box-shadow: 8px 8px var(--wp--preset--color--som-connexio) !important;
}

.wp-block-cover.align-content-bottom .wp-block-cover__inner-container {
  margin-top: auto;
}

span.top {
  position: relative;
  top: -68px;
  display: block;
  height: 0;
  width: 0;
}

p strong {
  font-weight: var(--wp--custom--font-weight--bold);
}

section[data-id="principles"] .mb-0 {
  margin-bottom: 0 !important;
}
