html {
  font-size: clamp(15px, 1.4vw, 18px);
}

@media (max-width: 782px) {
  body {
    --wp--preset--font-size--xx-large: 2.33rem !important;
  }

  section.wp-block-group h2.wp-block-heading {
    text-align: center;
    margin: 0 auto;
  }

  section.wp-block-group h2.wp-block-heading + p {
    text-align: center;
  }

  .site-footer .wpcf7 form.sent .wpcf7-response-output {
    bottom: -1em;
  }
}
