<!-- wp:template-part {"slug":"header","theme":"wpct-som-it","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"brand","className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-horizontal-padded has-brand-background-color has-background" id="qui-som"><!-- wp:spacer {"height":"65px","className":"is-style-show-mobile-tablet"} -->
<div style="height:65px" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-default is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-default is-style-show-desktop"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|typography"}}}},"textColor":"typography"} -->
<h1 class="wp-block-heading has-typography-color has-text-color has-link-color">Desenvolupem productes tecnològics amb una <mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-main-color"><strong>visió estratègica</strong></mark></h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|typography"}}},"typography":{"fontSize":"20px"}},"textColor":"typography"} -->
<p class="has-typography-color has-text-color has-link-color" style="font-size:20px">Som IT Cooperatiu som una cooperativa de segon grau que desenvolupa productes tecnològics amb una visió estratègica per a l’Economia Social i Solidària. Som Connexió, Som Mobilitat i la Fundació Finances Ètiques són les nostres entitats sòcies.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"style":{"typography":{"fontSize":"20px"}}} -->
<div class="wp-block-button has-custom-font-size" style="font-size:20px"><a class="wp-block-button__link wp-element-button" href="#products">Més informació</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:image {"id":285,"sizeSlug":"full","linkDestination":"none","align":"center","className":"is-style-default"} -->
<figure class="wp-block-image aligncenter size-full is-style-default"><img src="https://somit.coop/wp-content/uploads/2024/01/mega-creator-01.png" alt="" class="wp-image-285"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","className":"is-style-show-mobile-tablet","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide is-style-show-mobile-tablet"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"id":238,"sizeSlug":"full","linkDestination":"none","align":"center","className":"is-style-no-padded"} -->
<figure class="wp-block-image aligncenter size-full is-style-no-padded"><img src="https://somit.coop/wp-content/uploads/2024/01/isometric-computer-monitor-with-programming-code-on-screen-1main.png" alt="" class="wp-image-238"/></figure>
<!-- /wp:image -->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"50%"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|typography"}}}},"textColor":"typography"} -->
<h1 class="wp-block-heading has-typography-color has-text-color has-link-color">Desenvolupem productes tecnològics amb una <mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-main-color"><strong>visió estratègica</strong></mark></h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|typography"}}}},"textColor":"typography"} -->
<p class="has-typography-color has-text-color has-link-color">Som IT Cooperatiu som una cooperativa de segon grau que desenvolupa productes tecnològics amb una visió estratègica per a l’Economia Social i Solidària. Som Connexió, Som Mobilitat i la Fundació Finances Ètiques són les nostres entitats sòcies.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"left"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="#products">Més informació</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"7rem"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-horizontal-padded" id="mission"><!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"33.33%"}},"backgroundColor":"base","className":"is-style-no-padding","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-no-padding has-base-background-color has-background"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|main"}}},"typography":{"fontSize":"30px","fontStyle":"normal","fontWeight":"700"}},"textColor":"main"} -->
<h3 class="wp-block-heading has-main-color has-text-color has-link-color" style="font-size:30px;font-style:normal;font-weight:700"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-main-color"><strong>1</strong> </mark>Visió</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Volem ser una cooperativa referent en el disseny de processos i el desenvolupament de productes tecnològics dins de l’Economia Social.<br></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50px"} -->
<div class="wp-block-column" style="flex-basis:50px"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"33.33%"}},"className":"is-style-no-padding","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"30px"}}} -->
<h3 class="wp-block-heading" style="font-size:30px"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-main-color"><strong>2</strong></mark> Missió</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Ajudar en la millora dels processos productius i el desenvolupament de les eines digitals de les cooperatives i les entitats de l’economia social.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"50px"} -->
<div class="wp-block-column" style="flex-basis:50px"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"33.33%"}},"className":"is-style-no-padding","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"30px"}}} -->
<h3 class="wp-block-heading" style="font-size:30px"><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-main-color"><strong>3</strong></mark> Estratègia</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Agrupar projectes cooperatius sota el mateix paraigua, detectar necessitats i impulsar un ecosistema IT que dongui resposta als reptes de digitalització de les cooperatives i del tercer sector.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"5rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"main","className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-horizontal-padded has-main-background-color has-background" id="principles"><!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"700px"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"base"} -->
<h2 class="wp-block-heading has-text-align-center has-base-color has-text-color has-link-color" style="font-style:normal;font-weight:400">Els <strong>principis</strong> de Som It Cooperatiu</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"subtitle"} -->
<p class="has-text-align-center has-base-color has-text-color has-link-color has-subtitle-font-size">
      Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.
    </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"3rem","className":"is-style-show-desktop"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"className":"is-style-col-gap-desktop"} -->
<div class="wp-block-columns is-style-col-gap-desktop"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:quote {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|typography"}}},"typography":{"fontSize":"1.22rem"}},"backgroundColor":"base","textColor":"typography","className":"is-style-plain h-48"} -->
<blockquote class="wp-block-quote has-text-align-center is-style-plain h-48 has-typography-color has-base-background-color has-text-color has-background has-link-color" style="font-size:1.22rem"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color"><strong>Impacte</strong></h3>
<!-- /wp:heading --><cite>Oferim serveis IT a les cooperatives  amb propòsit</cite></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"},"fontSize":"small"} -->
<div class="wp-block-group has-small-font-size"><!-- wp:quote {"align":"center","style":{"typography":{"fontSize":"1.22rem"}},"backgroundColor":"base","className":"is-style-plain h-48"} -->
<blockquote class="wp-block-quote has-text-align-center is-style-plain h-48 has-base-background-color has-background" style="font-size:1.22rem"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color"><strong>Comunitat</strong></h3>
<!-- /wp:heading --><cite>Construïm i intercooperem <br>per crear les eines tecnològiques</cite></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:quote {"align":"center","style":{"layout":{"selfStretch":"fill","flexSize":null},"typography":{"fontSize":"1.22rem"}},"backgroundColor":"base","className":"is-style-plain h-48"} -->
<blockquote class="wp-block-quote has-text-align-center is-style-plain h-48 has-base-background-color has-background" style="font-size:1.22rem"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color"><strong>Sostenibilitat</strong></h3>
<!-- /wp:heading --><cite>Apostem per fer-ho de manera coordinada i compartida</cite></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"className":"is-style-col-gap-desktop"} -->
<div class="wp-block-columns is-style-col-gap-desktop"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:quote {"align":"center","style":{"typography":{"fontSize":"1.22rem"}},"backgroundColor":"base","className":"is-style-plain h-48"} -->
<blockquote class="wp-block-quote has-text-align-center is-style-plain h-48 has-base-background-color has-background" style="font-size:1.22rem"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color"><strong>Escalabilitat</strong></h3>
<!-- /wp:heading --><cite>Creiem eines digitals que estiguin pensades per créixer</cite></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:quote {"align":"center","style":{"typography":{"fontSize":"1.22rem"}},"backgroundColor":"base","className":"is-style-plain h-48"} -->
<blockquote class="wp-block-quote has-text-align-center is-style-plain h-48 has-base-background-color has-background" style="font-size:1.22rem"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color"><strong>Qualitat</strong></h3>
<!-- /wp:heading --><cite>Apostem per eines fetes  amb alts nivells de qualitat</cite></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:quote {"align":"center","style":{"layout":{"selfStretch":"fill","flexSize":null},"typography":{"fontSize":"1.22rem"}},"backgroundColor":"base","className":"is-style-plain h-48"} -->
<blockquote class="wp-block-quote has-text-align-center is-style-plain h-48 has-base-background-color has-background" style="font-size:1.22rem"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color"><strong>Eficiència</strong></h3>
<!-- /wp:heading --><cite>Treballem amb mentalitat  de millora contínua</cite></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"5rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-horizontal-padded" id="partners"><!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"700px"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
<h2 class="wp-block-heading has-text-align-center" style="font-style:normal;font-weight:400">Entitats <strong>sòcies</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","fontSize":"subtitle"} -->
<p class="has-text-align-center has-subtitle-font-size">
      Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.
    </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"3rem"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"verticalAlignment":"center"} -->
<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:image {"id":47,"sizeSlug":"full","linkDestination":"none","align":"right","className":"is-style-show-desktop"} -->
<figure class="wp-block-image alignright size-full is-style-show-desktop"><img src="https://somit.coop/wp-content/uploads/2023/11/som-connexio-2.png" alt="" class="wp-image-47"/></figure>
<!-- /wp:image -->

<!-- wp:image {"id":47,"sizeSlug":"full","linkDestination":"none","align":"center","className":"is-style-show-mobile-tablet"} -->
<figure class="wp-block-image aligncenter size-full is-style-show-mobile-tablet"><img src="https://somit.coop/wp-content/uploads/2023/11/som-connexio-2.png" alt="" class="wp-image-47"/></figure>
<!-- /wp:image -->

<!-- wp:spacer {"height":"2rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:image {"id":41,"sizeSlug":"full","linkDestination":"none","align":"center"} -->
<figure class="wp-block-image aligncenter size-full"><img src="https://somit.coop/wp-content/uploads/2023/11/logo-1.png" alt="" class="wp-image-41"/></figure>
<!-- /wp:image -->

<!-- wp:spacer {"height":"2rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:image {"id":42,"sizeSlug":"full","linkDestination":"none","align":"left","className":"is-style-show-desktop"} -->
<figure class="wp-block-image alignleft size-full is-style-show-desktop"><img src="https://somit.coop/wp-content/uploads/2023/11/logo-cas-bo-4-1.png" alt="" class="wp-image-42"/></figure>
<!-- /wp:image -->

<!-- wp:image {"id":42,"sizeSlug":"full","linkDestination":"none","align":"center","className":"is-style-show-mobile-tablet is-style-default"} -->
<figure class="wp-block-image aligncenter size-full is-style-show-mobile-tablet is-style-default"><img src="https://somit.coop/wp-content/uploads/2023/11/logo-cas-bo-4-1.png" alt="" class="wp-image-42"/></figure>
<!-- /wp:image -->

<!-- wp:spacer {"height":"2rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"3rem"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|typography"}}}},"textColor":"typography","fontSize":"large"} -->
<p class="has-text-align-center has-typography-color has-text-color has-link-color has-large-font-size"><strong>Uneix-te com a entitat sòcia!</strong></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"main","textColor":"base","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"fontSize":"subtitle"} -->
<div class="wp-block-button has-custom-font-size has-subtitle-font-size"><a class="wp-block-button__link has-base-color has-main-background-color has-text-color has-background has-link-color wp-element-button" href="#contact">Unir-m'hi</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"5rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"brand","className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-horizontal-padded has-brand-background-color has-background" id="services"><!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-show-tablet-desktop","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group is-style-show-tablet-desktop"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
<h2 class="wp-block-heading" style="font-style:normal;font-weight:400">Els <strong>serveis</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"right","style":{"layout":{"selfStretch":"fixed","flexSize":"40%"}}} -->
<p class="has-text-align-right">Eu sint id do nostrud anim culpa duis ea. Culpa anim velit elit anim. Fugiat aute eu minim ipsum.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group is-style-show-mobile"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
<h2 class="wp-block-heading" style="font-style:normal;font-weight:400">Els <strong>serveis</strong></h2>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"5vw","selfStretch":"fixed"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:paragraph {"align":"right","style":{"layout":{"selfStretch":"fixed","flexSize":"40%"}}} -->
<p class="has-text-align-right">Eu sint id do nostrud anim culpa duis ea. Culpa anim velit elit anim. Fugiat aute eu minim ipsum.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vw"} -->
<div style="height:10vw" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"className":"is-style-no-padding","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:quote {"style":{"typography":{"fontSize":"1.22rem"}},"backgroundColor":"base"} -->
<blockquote class="wp-block-quote has-base-background-color has-background" style="font-size:1.22rem"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Consultoria</h3>
<!-- /wp:heading --><cite>Proporcionem un servei de consultoria en processos i tecnologia. Amb el nostre coneixement i experiència, col·laborem amb les vostres entitas per analitzar, millorar i optimitzar processos i sistemes tecnològics.</cite></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"100px"} -->
<div class="wp-block-column" style="flex-basis:100px"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"className":"is-style-no-padding","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-no-padding"><!-- wp:quote {"style":{"typography":{"fontSize":"1.22rem"}},"backgroundColor":"base"} -->
<blockquote class="wp-block-quote has-base-background-color has-background" style="font-size:1.22rem"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Implantacions</h3>
<!-- /wp:heading --><cite>Realitzem implantacions d'eines tecnològiques basades en Odoo com a solució ERP i CRM per a necessitats comunes a l'ESS.<br><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-base-color">.</mark></cite></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"5rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-horizontal-padded" id="products"><!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"700px"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
<h2 class="wp-block-heading has-text-align-center" style="font-style:normal;font-weight:400">Els <strong>productes</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"3rem","className":"is-style-show-desktop"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:quote {"className":"is-style-secondary"} -->
<blockquote class="wp-block-quote is-style-secondary"><!-- wp:media-text {"mediaId":282,"mediaLink":"https://somit.coop/02/","mediaType":"image","mediaWidth":20} -->
<div class="wp-block-media-text is-stacked-on-mobile" style="grid-template-columns:20% auto"><figure class="wp-block-media-text__media"><img src="https://somit.coop/wp-content/uploads/2024/01/02-1024x1024.png" alt="" class="wp-image-282 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color">Oficina Virtual</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Proporciona als usuaris una àrea privada des de la qual poden gestionar les seves activitats en una entitat. Mitjançant aquest producte, els usuaris tenen accés a funcionalitats com consulta de factures, serveis contractats, dades personals i consum, entre altres. És una eina que facilita la gestió eficient de les seves activitats amb comoditat i accessibilitat.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text --></blockquote>
<!-- /wp:quote -->

<!-- wp:quote {"className":"is-style-secondary"} -->
<blockquote class="wp-block-quote is-style-secondary"><!-- wp:media-text {"mediaId":283,"mediaLink":"https://somit.coop/03/","mediaType":"image","mediaWidth":20} -->
<div class="wp-block-media-text is-stacked-on-mobile" style="grid-template-columns:20% auto"><figure class="wp-block-media-text__media"><img src="https://somit.coop/wp-content/uploads/2024/01/03-1024x1024.png" alt="" class="wp-image-283 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color">Mapa Comunitari</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Com usuari podràs veure i explorar les comunitats que et rodegen, i expressar el teu interès en formar part d'alguna d'elles. És una eina que fomenta la connexió i la participació en comunitats, facilitant la trobada de persones amb interessos similars i la possibilitat d'implicar-te en projectes i activitats conjuntes.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text --></blockquote>
<!-- /wp:quote -->

<!-- wp:quote {"className":"is-style-secondary"} -->
<blockquote class="wp-block-quote is-style-secondary"><!-- wp:media-text {"mediaId":284,"mediaLink":"https://somit.coop/04/","mediaType":"image","mediaWidth":20} -->
<div class="wp-block-media-text is-stacked-on-mobile" style="grid-template-columns:20% auto"><figure class="wp-block-media-text__media"><img src="https://somit.coop/wp-content/uploads/2024/01/04-1024x1024.png" alt="" class="wp-image-284 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color">Gestió Societària</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Gestiona altas i baixas de membres, les seves aportacions a capital social obligatori i voluntari, els préstecs concedits i els dividends distribuïts. Aquesta eina simplifica i automatitza els processos de gestió societària per una entitat cooperativa.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text --></blockquote>
<!-- /wp:quote -->

<!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"5rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","backgroundColor":"brand","className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-horizontal-padded has-brand-background-color has-background" id="projects"><!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:spacer {"height":"3rem","className":"is-style-show-desktop"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:heading -->
<h2 class="wp-block-heading"><strong>Projectes</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"100px"} -->
<div class="wp-block-column" style="flex-basis:100px"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:quote {"backgroundColor":"base","className":"is-style-ce"} -->
<blockquote class="wp-block-quote is-style-ce has-base-background-color has-background"><!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:image {"id":46,"sizeSlug":"full","linkDestination":"none","align":"right"} -->
<figure class="wp-block-image alignright size-full"><img src="https://somit.coop/wp-content/uploads/2023/11/Som-Comunitats_Simple_Logo-1.png" alt="" class="wp-image-46"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-no-padding is-style-show-mobile-tablet","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-no-padding is-style-show-mobile-tablet"><!-- wp:image {"id":46,"sizeSlug":"full","linkDestination":"none","align":"left"} -->
<figure class="wp-block-image alignleft size-full"><img src="https://somit.coop/wp-content/uploads/2023/11/Som-Comunitats_Simple_Logo-1.png" alt="" class="wp-image-46"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"3rem","width":"0px","style":{"layout":[]}} -->
<div style="height:3rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|som-comunitats"}}}},"textColor":"som-comunitats"} -->
<h4 class="wp-block-heading has-som-comunitats-color has-text-color has-link-color">Som Comunitats</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Des de Som IT, col·laborem amb altres 6 entitats per oferir una solució integral de gestió de Comunitats Energètiques per la ciutadania, administració pública i entitats de l'economia social.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"3rem","width":"0px","style":{"layout":[]}} -->
<div style="height:3rem;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:quote {"backgroundColor":"base","className":"is-style-sm"} -->
<blockquote class="wp-block-quote is-style-sm has-base-background-color has-background"><!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:image {"id":43,"width":"auto","height":"75px","sizeSlug":"full","linkDestination":"none","align":"right"} -->
<figure class="wp-block-image alignright size-full is-resized"><img src="https://somit.coop/wp-content/uploads/2023/11/moves-1.png" alt="" class="wp-image-43" style="width:auto;height:75px"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-no-padding is-style-show-mobile-tablet","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-no-padding is-style-show-mobile-tablet"><!-- wp:image {"id":43,"width":"auto","height":"75px","sizeSlug":"full","linkDestination":"none","align":"left"} -->
<figure class="wp-block-image alignleft size-full is-resized"><img src="https://somit.coop/wp-content/uploads/2023/11/moves-1.png" alt="" class="wp-image-43" style="width:auto;height:75px"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|moves"}}}},"textColor":"moves"} -->
<h4 class="wp-block-heading has-moves-color has-text-color has-link-color">Moves II</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Som IT coordina les activitats tecnològiques d'aquest projecte amb l'objectiu de millorar les eines, processos i automatitzacions de l'ecosistema tecnològic de Som Mobilitat. Amb visió estratègica, treballem per optimitzar i augmentar l'eficiència d'una de les nostres entitats socies.</p>
<!-- /wp:paragraph --></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"100px"} -->
<div class="wp-block-column" style="flex-basis:100px"></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:quote {"backgroundColor":"base","className":"is-style-sc"} -->
<blockquote class="wp-block-quote is-style-sc has-base-background-color has-background"><!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:image {"id":47,"width":"auto","height":"70px","sizeSlug":"full","linkDestination":"none","align":"right"} -->
<figure class="wp-block-image alignright size-full is-resized"><img src="https://somit.coop/wp-content/uploads/2023/11/som-connexio-2.png" alt="" class="wp-image-47" style="width:auto;height:70px"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-no-padding is-style-show-mobile-tablet","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group is-style-no-padding is-style-show-mobile-tablet"><!-- wp:image {"id":47,"width":"auto","height":"65px","sizeSlug":"full","linkDestination":"none","align":"left"} -->
<figure class="wp-block-image alignleft size-full is-resized"><img src="https://somit.coop/wp-content/uploads/2023/11/som-connexio-2.png" alt="" class="wp-image-47" style="width:auto;height:65px"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4,"style":{"elements":{"link":{"color":{"text":"var:preset|color|som-connexio"}}}},"textColor":"som-connexio"} -->
<h4 class="wp-block-heading has-som-connexio-color has-text-color has-link-color">Singulars Som Connexio</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Commodo officia sit enim sit reprehenderit excepteur reprehenderit adipisicing in ea irure tempor. Voluptate eu occaecat minim adipisicing laboris sunt ipsum ullamco. Irure anim et non et cupidatat cillum anim deserunt Lorem ad.<br><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-base-color">.</mark></p>
<!-- /wp:paragraph --></blockquote>
<!-- /wp:quote --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"5rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","align":"full","className":"is-style-horizontal-padded","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-horizontal-padded" id="team"><!-- wp:spacer {"height":"6rem","className":"is-style-show-desktop"} -->
<div style="height:6rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"4rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:4rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"700px"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center"><strong>Equip</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"3rem","className":"is-style-show-desktop"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"1rem"} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Consell rector</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"https://somit.coop/wp-content/uploads/2023/11/Rectangle-117.png","id":44,"dimRatio":30,"customOverlayColor":"#494642","isUserOverlayColor":true,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim" style="background-color:#494642"></span><img class="wp-block-cover__image-background wp-image-44" alt="" src="https://somit.coop/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"https://somit.coop/wp-content/uploads/2023/11/Rectangle-118.png","id":45,"dimRatio":30,"customOverlayColor":"#8b827e","isUserOverlayColor":true,"isDark":false,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover is-light wp-block-quote is-style-secondary align-content-bottom has-base-color has-text-color has-link-color"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim" style="background-color:#8b827e"></span><img class="wp-block-cover__image-background wp-image-45" alt="" src="https://somit.coop/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group is-style-show-mobile-tablet"><!-- wp:group {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"1rem"} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Consell rector</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"https://somit.coop/wp-content/uploads/2023/11/Rectangle-117.png","id":44,"dimRatio":30,"customOverlayColor":"#494642","isUserOverlayColor":true,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary has-base-color has-text-color has-link-color"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim" style="background-color:#494642"></span><img class="wp-block-cover__image-background wp-image-44" alt="" src="https://somit.coop/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"https://somit.coop/wp-content/uploads/2023/11/Rectangle-118.png","id":45,"dimRatio":30,"customOverlayColor":"#8b827e","isUserOverlayColor":true,"isDark":false,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover is-light wp-block-quote is-style-plain align-content-bottom is-style-secondary has-base-color has-text-color has-link-color"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim" style="background-color:#8b827e"></span><img class="wp-block-cover__image-background wp-image-45" alt="" src="https://somit.coop/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"3rem","className":"is-style-show-desktop"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"1rem"} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Equip tècnic</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png","id":8,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-8" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png","id":9,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-9" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png","id":8,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-8" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group is-style-show-mobile-tablet"><!-- wp:group {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"1rem"} -->
<div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Equip tècnic</h4>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Labore excepteur occaecat laborum mollit ullamco in in quis esse amet deserunt laboris enim consequat.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png","id":8,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-8" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png","id":9,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-9" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png","id":8,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-8" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:paragraph -->
<p>0</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"3rem","className":"is-style-show-desktop"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"30px","className":"is-style-show-mobile-tablet"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png","id":9,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-9" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png","id":8,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-8" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png","id":9,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-9" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png","id":8,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-8" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group is-style-show-mobile-tablet"><!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png","id":9,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-9" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png","id":8,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-8" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png","id":9,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-9" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png","id":8,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-8" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-118.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size"><strong>Bernat Alcolea</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">Secretari / Som Connexió</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"3rem","className":"is-style-show-desktop"} -->
<div style="height:3rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"30px","className":"is-style-show-mobile-tablet"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"is-style-show-desktop","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"stretch"}} -->
<div class="wp-block-group is-style-show-desktop"><!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png","id":9,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-secondary align-content-bottom","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-secondary align-content-bottom"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-9" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"30px","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fixed","flexSize":"960px"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|typography"}}}},"textColor":"typography","fontSize":"large"} -->
<p class="has-text-align-center has-typography-color has-text-color has-link-color has-large-font-size"><strong>Treballa amb nosaltres</strong></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"main","textColor":"base","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-base-color has-main-background-color has-text-color has-background has-link-color wp-element-button" href="#contact">Més informació</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"is-style-show-mobile-tablet","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group is-style-show-mobile-tablet"><!-- wp:cover {"url":"http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png","id":9,"dimRatio":30,"style":{"layout":{"selfStretch":"fixed","flexSize":"300px"}},"className":"wp-block-quote is-style-plain align-content-bottom is-style-secondary","layout":{"type":"default"}} -->
<div class="wp-block-cover wp-block-quote is-style-plain align-content-bottom is-style-secondary"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-30 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-9" alt="" src="http://localhost:8008/wp-content/uploads/2023/11/Rectangle-117.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","fontSize":"medium"} -->
<p class="has-text-align-left has-medium-font-size"><strong>Arnau Vilardell</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"x-small"} -->
<p class="has-x-small-font-size">President / Som Mobilitat</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:spacer {"width":"0px","style":{"layout":{"flexSize":"3rem","selfStretch":"fixed"}}} -->
<div style="height:100px;width:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"align":"center","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"><strong>Treballa amb nosaltres</strong></p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"flexSize":"1em","selfStretch":"fixed"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"main","textColor":"base","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-base-color has-main-background-color has-text-color has-background has-link-color wp-element-button" href="#contact">Més informació</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"7rem","className":"is-style-show-desktop"} -->
<div style="height:7rem" aria-hidden="true" class="wp-block-spacer is-style-show-desktop"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"5rem","className":"is-style-show-mobile-tablet"} -->
<div style="height:5rem" aria-hidden="true" class="wp-block-spacer is-style-show-mobile-tablet"></div>
<!-- /wp:spacer --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wpct-som-it","tagName":"footer","className":"site-footer"} /-->
