<!-- wp:template-part {"slug":"header","tagName":"header","layout":{"inherit":true},"theme":"wpct-som-it","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
    <!-- wp:post-content {"layout":{"inherit":true},"align":"wide"} /-->

    <!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group">
        <!-- wp:post-comments {"layout":{"inherit":true}} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","layout":{"inherit":true},"theme":"wpct-som-it","className":"site-footer"} /-->
